
body {
    font-family: Arial, sans-serif;
}
form {
    margin: 1em 0;
}
label, input {
    display: block;
    margin: 0.5em 0;
    font: peso bold;
}
button {
    margin: 1em 0;
}

#horas, #tarifa
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    box-sizing: border-box;
}

#calcular
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100px;
    box-sizing: border-box;
    background-color: #41ac45;
    color: white;
}

#todo, #resultado, #titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegúrate de que el div tenga una altura para que los elementos puedan centrarse verticalmente */
    margin-top: 50px;
}

#resultado {
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}
#resultado {
    border-collapse: separate;
    border-spacing: 0 10px;
}

#resultado td {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}